@import "tailwindcss";

@theme {
    --color-conduzze-light: #0D3578;
    --color-conduzze-medium: #011929;
    --color-conduzze-dark: #020812;
    --color-conduzze-orange: #FF3F00;
    --color-conduzze-pink: #FD296C;
}

@font-face {
    font-family: "Poppins";
    src: url("/src/assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}